_temp*
vendor
O*-B*.ttf
O*-E*.ttf
O*-I*.ttf
O*-L*.ttf
O*-S*.ttf
E*-B*.ttf
E*-E*.ttf
E*-I*.ttf
E*-L*.ttf
E*-M*.ttf
E*-R*.ttf
E*-S*d.ttf
E*-T*.ttf
fontawesome
*.mwb
*.bak
*.code-workspace
jquery.tablesorter.js
config_db.ini
*old*
